# Parts taken from init.rc, init.usb.rc, init.usb.configfs.rc and init.mt6771.usb.rc

on early-init
    write /sys/module/musb_hdrc/parameters/kernel_init_done 1

on early-fs
# Needed here to get the default triggers in init.rc to work
    setprop sys.usb.configfs 1
    setprop sys.usb.ffs.aio_compat 1
    setprop sys.usb.config mtp,adb
    setprop vendor.usb.vid "0x0E8D"    
    setprop vendor.usb.controller "musb-hdrc"
    
on fs && property:sys.usb.configfs=1
    mount configfs none /config
    write /config/usb_gadget/g1/idVendor ${vendor.usb.vid}
    write /config/usb_gadget/g1/bcdDevice 0x0223
    write /config/usb_gadget/g1/bcdUSB 0x0200
    mkdir /config/usb_gadget/g1/functions/mtp.gs0
    write /config/usb_gadget/g1/functions/mtp.gs0/os_desc/interface.MTP/compatible_id "MTP"
    mkdir /config/usb_gadget/g1/functions/ptp.gs1
    mkdir /config/usb_gadget/g1/functions/midi.gs5
    mkdir /config/usb_gadget/g1/functions/acm.gs0
    mkdir /config/usb_gadget/g1/functions/acm.gs1
    mkdir /config/usb_gadget/g1/functions/acm.gs2
    mkdir /config/usb_gadget/g1/functions/acm.gs3
    mkdir /config/usb_gadget/g1/functions/mass_storage.usb0
    mkdir /config/usb_gadget/g1/functions/hid.gs0
    write /config/usb_gadget/g1/os_desc/use 1
    write /config/usb_gadget/g1/os_desc/b_vendor_code 0x1
    write /config/usb_gadget/g1/os_desc/qw_sign "MSFT100"
    write /config/usb_gadget/g1/configs/b.1/MaxPower 500
    symlink /config/usb_gadget/g1/configs/b.1 /config/usb_gadget/g1/os_desc/b.1

    write /sys/class/android_usb/android0/f_mtp/cpu_mask 0xF0
    write /sys/module/usb_f_mtp/parameters/mtp_rx_cont 1
    chmod 0664 /sys/class/android_usb/android0/iSerial
    chown root system /sys/class/android_usb/android0/iSerial

    chown radio system /sys/class/usb_rawbulk/data/enable
    chmod 0660 /sys/class/usb_rawbulk/data/enable
    chown radio system /sys/class/usb_rawbulk/ets/enable
    chmod 0660 /sys/class/usb_rawbulk/ets/enable
    chown radio system /sys/class/usb_rawbulk/atc/enable
    chmod 0660 /sys/class/usb_rawbulk/atc/enable
    chown radio system /sys/class/usb_rawbulk/pcv/enable
    chmod 0660 /sys/class/usb_rawbulk/pcv/enable
    chown radio system /sys/class/usb_rawbulk/gps/enable
    chmod 0660 /sys/class/usb_rawbulk/gps/enable
    chown system radio /dev/ttyGS0
    chmod 0660 /dev/ttyGS0
    chown system radio /dev/ttyGS1
    chmod 0660 /dev/ttyGS1
    chown system radio /dev/ttyGS2
    chmod 0660 /dev/ttyGS2
    chown system radio /dev/ttyGS3
    chmod 0660 /dev/ttyGS3
   
    # for UAC MAX dpidle time
    write /sys/module/xhci_hcd/parameters/dpidle_fs_max 0
    write /sys/module/xhci_hcd/parameters/dpidle_hs_max 0

    # for usb otg sdcard hot plug detection
    write /sys/module/block/parameters/events_dfl_poll_msecs 1000

### main function : none ###
on property:sys.usb.config=none && property:sys.usb.configfs=0
    setprop sys.usb.ffs.mtp.ready 0
    write /sys/class/android_usb/android0/bDeviceClass 0

on property:sys.usb.config=none && property:sys.usb.configfs=1
    setprop sys.usb.ffs.mtp.ready 0
    write /config/usb_gadget/g1/bDeviceClass 0
    write /config/usb_gadget/g1/bDeviceSubClass 0
    write /config/usb_gadget/g1/bDeviceProtocol 0
    rm /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/idVendor ${vendor.usb.vid}
    write /sys/class/udc/musb-hdrc/device/saving 0

### main function : adb/sideload ###
on property:sys.usb.ffs.ready=1 && property:sys.usb.config=adb && property:sys.usb.configfs=1
    setprop vendor.usb.pid 0x201C
    write /config/usb_gadget/g1/idProduct ${vendor.usb.pid}
#    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=sideload && property:sys.usb.configfs=1
    setprop vendor.usb.pid 0x201C
    write /config/usb_gadget/g1/idProduct ${vendor.usb.pid}
#    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}

### main function : mtp ###
on property:sys.usb.config=mtp && property:sys.usb.configfs=1
    setprop vendor.usb.pid 0x2008
    write /config/usb_gadget/g1/idProduct ${vendor.usb.pid}
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp"
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/os_desc/use 1
#    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}
    setprop sys.usb.ffs.mtp.ready 1
    setprop sys.usb.state ${sys.usb.config}

### main function : mtp,adb ###
on property:sys.usb.config=mtp,adb
    stop fastbootd
    start adbd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,adb && property:sys.usb.configfs=1
    setprop vendor.usb.pid 0x201D
    write /config/usb_gadget/g1/idProduct ${vendor.usb.pid}
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_adb"
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.adb /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/os_desc/use 1
#    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}
    setprop sys.usb.ffs.mtp.ready 1
    setprop sys.usb.state ${sys.usb.config}
    
### main function : mtp,fastboot ###
on property:sys.usb.config=mtp,fastboot
    stop adbd
    start fastbootd

on property:sys.usb.ffs.ready=1 && property:sys.usb.config=mtp,fastboot && property:sys.usb.configfs=1
    setprop vendor.usb.pid 0xFF18
    write /config/usb_gadget/g1/idProduct ${vendor.usb.pid}
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration "mtp_fastboot"
    symlink /config/usb_gadget/g1/functions/mtp.gs0 /config/usb_gadget/g1/configs/b.1/f1
    symlink /config/usb_gadget/g1/functions/ffs.fastboot /config/usb_gadget/g1/configs/b.1/f2
    write /config/usb_gadget/g1/os_desc/use 1
#    write /config/usb_gadget/g1/UDC ${sys.usb.controller}
    write /config/usb_gadget/g1/UDC ${vendor.usb.controller}
    setprop sys.usb.ffs.mtp.ready 1
    setprop sys.usb.state ${sys.usb.config}
