allow recovery ctl_default_prop:file {map};
allow recovery ctl_dumpstate_prop:file {getattr map open};
allow recovery ctl_fuse_prop:file {getattr map open};
allow recovery ctl_gsid_prop:file {getattr map open};
allow recovery ctl_interface_restart_prop:file {getattr map open};
allow recovery ctl_interface_start_prop:file {getattr map open};
allow recovery ctl_interface_stop_prop:file {getattr map open};
allow recovery ctl_mdnsd_prop:file {getattr map open};
allow recovery ctl_restart_prop:file {getattr map open};
allow recovery ctl_rildaemon_prop:file {getattr map open};
allow recovery ctl_sigstop_prop:file {getattr map open};
allow recovery ctl_start_prop:file {getattr map open};
allow recovery ctl_stop_prop:file {getattr map open};
allow recovery device_config_activity_manager_native_boot_prop:file {getattr map open};
allow recovery device_config_boot_count_prop:file {getattr map open};
allow recovery device_config_input_native_boot_prop:file {getattr map open};
allow recovery device_config_media_native_prop:file {getattr map open};
allow recovery device_config_netd_native_prop:file {getattr map open};
allow recovery device_config_reset_performed_prop:file {getattr map open};
allow recovery device_config_runtime_native_boot_prop:file {getattr map open};
allow recovery device_config_runtime_native_prop:file {getattr map open};
allow recovery device_logging_prop:file {getattr map open};
allow recovery dumpstate_options_prop:file {getattr map open};
allow recovery dynamic_system_prop:file {getattr map open};
#allow recovery firstboot_prop:file {getattr map open};
allow recovery gsid_prop:file {getattr map open};
allow recovery heapprofd_enabled_prop:file {getattr map open};
#allow recovery last_boot_reason_prop:file {getattr map open};
allow recovery llkd_prop:file {getattr map open};
allow recovery logpersistd_logging_prop:file {getattr map open};
allow recovery lowpan_prop:file {getattr map open};
allow recovery lpdumpd_prop:file {getattr map open};
allow recovery mmc_prop:file {getattr map open};
allow recovery net_dns_prop:file {getattr map open};
#allow recovery netd_stable_secret_prop:file {getattr map open};
allow recovery nnapi_ext_deny_product_prop:file {getattr map open};
allow recovery overlay_prop:file {getattr map open};
allow recovery persistent_properties_ready_prop:file {getattr map open};
allow recovery safemode_prop:file {getattr map open};
allow recovery system_boot_reason_prop:file {getattr map open};
allow recovery system_lmk_prop:file {getattr map open};
allow recovery system_trace_prop:file {getattr map open};
allow recovery test_boot_reason_prop:file {getattr map open};
allow recovery theme_prop:file {getattr map open};
allow recovery time_prop:file {getattr map open};
allow recovery traced_enabled_prop:file {getattr map open};
allow recovery traced_lazy_prop:file {getattr map open};
allow recovery wifi_prop:file {getattr map open};
allow recovery rootfs:dir {create add_name remove_name write};
allow recovery rootfs:lnk_file {create unlink};
#allow recovery rootfs:file {create write};
allow recovery rootfs:fifo_file {create read unlink open};
allow recovery dm_device:blk_file {ioctl};
allow recovery recovery:capability {fsetid sys_rawio};
allow recovery recovery:binder {call transfer};
allow recovery recovery:key {search};
allow recovery recovery:capability2 {wake_alarm};
allow recovery recovery:netlink_kobject_uevent_socket {read};
#allow recovery media_rw_data_file:dir {create add_name write};
allow recovery media_rw_data_file:dir {getattr read open};
allow recovery media_rw_data_file:file {getattr};
#allow recovery unencrypted_data_file:dir {add_name write};
allow recovery unencrypted_data_file:dir {search getattr read open};
#allow recovery unencrypted_data_file:file {create write};
allow recovery unencrypted_data_file:file {getattr read open};
allow recovery init:key {write};
allow recovery kernel:system {module_request};
#allow recovery vold_data_file:dir {read open search getattr};
#allow recovery vold_data_file:file {getattr read open};
allow recovery user_profile_data_file:dir {read open search getattr};
allow recovery user_profile_data_file:file {getattr};
allow recovery storaged_data_file:dir {read open search getattr};
allow recovery storaged_data_file:file {getattr};
allow recovery rollback_data_file:dir {read open search getattr};
allow recovery fingerprint_vendor_data_file:dir {read open search getattr};
allow recovery fingerprint_vendor_data_file:file {getattr};
allow recovery face_vendor_data_file:dir {read open search getattr};
allow recovery system_data_file:dir {read open};
allow recovery system_data_file:file {getattr read open};
allow recovery system_data_file:lnk_file {getattr};
allow recovery block_device:blk_file {ioctl};
allow recovery heapdump_data_file:dir {read open search getattr};
allow recovery wallpaper_file:file {getattr};
allow recovery system_ndebug_socket:sock_file {getattr};
allow recovery packages_list_file:file {getattr};
#allow recovery dropbox_data_file:dir {read open search getattr};
allow recovery dropbox_data_file:file {getattr};
allow recovery preloads_data_file:dir {read open getattr};
allow recovery vendor_data_file:dir {read open};
allow recovery vendor_data_file:file {getattr};
#allow recovery staging_data_file:dir {read open getattr};
allow recovery apk_private_data_file:dir {read open getattr};
allow recovery bootchart_data_file:dir {read open getattr};
#allow recovery gsi_data_file:dir {read open getattr};
allow recovery apex_data_file:dir {read open getattr};
allow recovery unlabeled:fifo_file {getattr};
allow recovery backup_data_file:dir {read open getattr};
allow recovery backup_data_file:file {getattr};
allow recovery shortcut_manager_icons:dir {read open search getattr};
allow recovery shortcut_manager_icons:file {getattr};
#allow recovery privapp_data_file:dir {read open search getattr};
allow recovery privapp_data_file:file {getattr};
allow recovery privapp_data_file:lnk_file {getattr};
#allow recovery app_data_file:dir {read open search getattr};
allow recovery app_data_file:file {getattr};
allow recovery app_data_file:lnk_file {getattr};
allow recovery radio_data_file:dir {read open search getattr};
allow recovery radio_data_file:file {getattr};
allow recovery nfc_data_file:dir {read open search getattr};
allow recovery nfc_data_file:file {getattr};
#allow recovery system_app_data_file:dir {open};
allow recovery system_app_data_file:dir {read search getattr};
allow recovery system_app_data_file:file {getattr};
allow recovery bluetooth_data_file:dir {read open search getattr};
allow recovery bluetooth_data_file:file {getattr};
#allow recovery shell_data_file:dir {open search};
allow recovery shell_data_file:dir {read getattr};
allow recovery property_data_file:dir {read open getattr};
allow recovery property_data_file:file {getattr};
allow recovery apk_data_file:dir {read open getattr};
allow recovery apk_data_file:file {getattr};
allow recovery dalvikcache_data_file:dir {read open search getattr};
allow recovery dalvikcache_data_file:file {getattr};
allow recovery keychain_data_file:dir {read open search getattr};
allow recovery keychain_data_file:file {getattr};
allow recovery systemkeys_data_file:dir {read open search getattr};
allow recovery bluetooth_logs_data_file:dir {read open search getattr};
#allow recovery stats_data_file:dir {read open search getattr};
#allow recovery stats_data_file:file {getattr};
allow recovery misc_user_data_file:dir {read open search getattr};
#allow recovery incident_data_file:dir {read open search getattr};
allow recovery textclassifier_data_file:dir {read open search getattr};
allow recovery shared_relro_file:dir {read open search getattr};
allow recovery shared_relro_file:file {getattr};
allow recovery recovery_data_file:dir {read open search getattr};
allow recovery recovery_data_file:file {getattr};
allow recovery audioserver_data_file:dir {read open search getattr};
allow recovery method_trace_data_file:dir {read open search getattr};
allow recovery update_engine_data_file:dir {read open search getattr};
allow recovery bootstat_data_file:dir {read open search getattr};
allow recovery bootstat_data_file:file {getattr};
#allow recovery iorapd_data_file:dir {read open search getattr};
allow recovery profman_dump_data_file:dir {read open search getattr};
allow recovery vpn_data_file:dir {read open search getattr};
allow recovery wifi_data_file:dir {read open search getattr};
allow recovery wifi_data_file:file {getattr};
allow recovery wpa_socket:dir {read open search getattr};
allow recovery boottrace_data_file:dir {read open search getattr};
#allow recovery keystore_data_file:dir {getattr};
allow recovery update_engine_log_data_file:dir {read open search getattr};
allow recovery dhcp_data_file:dir {read open search getattr};
allow recovery adb_keys_file:dir {read open search getattr};
allow recovery adb_keys_file:file {getattr};
allow recovery wm_trace_data_file:dir {read open search getattr};
allow recovery media_data_file:dir {read open search getattr};
allow recovery perfprofd_data_file:dir {read open search getattr};
allow recovery gatekeeper_data_file:dir {getattr};
allow recovery network_watchlist_data_file:dir {read open search getattr};
allow recovery net_data_file:dir {read open search getattr};
allow recovery net_data_file:file {getattr};
allow recovery asec_image_file:dir {read open getattr};
allow recovery trace_data_file:dir {read open search getattr};
allow recovery install_data_file:file {getattr};
allow recovery adb_data_file:dir {read open getattr};
allow recovery adb_data_file:file {getattr};
allow recovery anr_data_file:dir {read open getattr};
allow recovery anr_data_file:file {getattr};
allow recovery resourcecache_data_file:dir {read open getattr};
allow recovery resourcecache_data_file:file {getattr};
allow recovery tombstone_wifi_data_file:dir {read open search getattr};
#allow recovery hostapd_data_file:dir {read open search getattr};
#allow recovery wpa_data_file:dir {read open search getattr};
#allow recovery wpa_data_file:file {getattr};
allow recovery drm_data_file:dir {read open getattr};
allow recovery drm_data_file:file {getattr};
allow recovery ota_package_file:dir {read open getattr};
allow recovery ota_data_file:dir {read open getattr};
allow recovery tombstone_data_file:dir {read open getattr};
allow recovery tombstone_data_file:file {getattr};
allow recovery server_configurable_flags_data_file:dir {read open getattr};
allow recovery ringtone_file:dir {read open search getattr};
allow recovery ringtone_file:file {getattr};
allow recovery sysfs:dir {read open};
allow recovery sysfs:file {getattr read open write};
allow recovery mtp_device:chr_file {read write open};
allow recovery vfat:dir {read open};
allow recovery vfat:file {getattr};
allow recovery tmpfs:fifo_file {create read open};
#allow recovery recovery:binder {set_context_mgr};
allow recovery recovery:netlink_kobject_uevent_socket {setopt getopt create bind};
allow recovery recovery:process {execmem};
allow recovery vndbinder_device:chr_file {map read open ioctl write};
#allow recovery device:chr_file {read open ioctl write};
allow recovery kmsg_device:chr_file {getattr write};
allow recovery proc:file {read open write};
allow recovery selinuxfs:file {write};
allow recovery ashmem_device:chr_file {execute};
allow recovery init_exec:file {getattr};
allow recovery apexd_prop:file {map open getattr};
allow recovery bluetooth_prop:file {map read open getattr};
allow recovery boottime_prop:file {map open getattr};
allow recovery bpf_progs_loaded_prop:file {map open getattr};
allow recovery ctl_adbd_prop:file {map open getattr};
allow recovery ctl_bootanim_prop:file {map open getattr};
allow recovery ctl_bugreport_prop:file {map open getattr};
allow recovery ctl_console_prop:file {map open getattr};
